{% extends 'base.html' %}

{% block titulo %} Login | {{ block.super }}{% endblock titulo %}

{% block corpo %}

    <div class="container">
        <div class="row">
            <h1>Faça seu login</h1>
            <form>
                <p>
                    <label>Usuario</label>
                    <input type="text">
                </p>

                <p>
                    <label>Senha</label>
                    <input type="text">
                </p>

                <p>
                    <button type="submit">Logar</button>
                </p>
            </form>
        </div>
    </div>

{% endblock corpo %}